#myTableData {
  border-collapse: collapse;
}
#myTableData td,
#myTableData th {
  border: 1px solid #ddd;
  padding: 8px;
}

#myTableData tr:nth-child(even) {
  background-color: #f2f2f2;
}

#myTableData tr:hover {
  background-color: lightblue;
}

.RemoveBtn:hover,
.btn:hover {
  background-color: #dddddd;
  border: 0;
  border-radius: 5px;
}

#myTableData th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.TableHead {
  font-size: 30px;
  font-style: italic;
}

table {
  width: 100%;
}

.ProTitle {
  font-size: 25px;
  font-style: italic;
}

.btn {
  width: 33.3%;
  height: 100%;
  font-size: 25px;
  height: 35px;
  font-weight: bold;
}

.RemoveBtn {
  font-size: 18px;
  font-style: italic;
  width: 100%;
  height: 35px;
  cursor: pointer;
}
.CartSrNo,
.CartPrice {
  font-size: 25px;
  font-weight: 500;
}

@media (max-width: 945px) {
  .TableHead {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .TableHead {
    font-size: 17px;
  }
  #myTableData td,
  #myTableData th {
    padding: 0;
  }

  .CartSrNo,
  .CartPrice {
    font-size: 18px;
    font-weight: 500;
  }

  .ProTitle {
    font-size: 15px;
  }
  .OptBtn {
    font-size: 20px;
  }
}

/* CartOptions */
.CartOpt {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-size: 35px;
  margin:20px 0 0 0 ;
  height: 60px;
}
.OptBtn{
  height: 100%;
}
.OptBtn:nth-child(1) {
  background-color: rgb(255, 78, 78);
  width: 30%;
}
.OptBtn:nth-child(2) {
  background-color: rgb(0, 0, 0);
  width: 40%;
}
.OptBtn:nth-child(3) {
  background-color: #04aa6d;
  width: 30%;
}
