.not-found-page {
  background-image: linear-gradient(90deg, var(--navcol) 0%, var(--hover) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-box {
  background: #fff;
  width: fit-content;
  padding: 50px;
  margin: 50px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}
.not-found-box h2 {
  font-size: 30px;
}

.report-btns a{
    background: #fc7819;
    padding:10px 20px;
    margin:10px;
    font-size: large;
    font-weight: 500;
    color: #fff;
    border-radius:20px;
    
}