/* *******************************ABOUT*************************** */
.page-header {
  min-height: 100px;
  height: 20vh;
}

#about-header {
  background: url(../../Image/about/banner.png);
}

#about-head {
  display: flex;
  flex-direction: row;
}

#about-head img {
  width: 40%;
}

#about-head div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 30px;
  text-align: left;
  font-size: 18px;
}

#about-head div p,
#about-head div abbr {
  margin: 15px 0;
}
