/*  ***********ROOT CODE *********** */
@import url("https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border: 1px solid var(--navcol);
}

::-webkit-scrollbar-thumb {
  background: var(--navcol);
}

:root {
  --back: #e3e6f3;
  --col: #1a1a1a;
  --border: #7e96ff;
  --navcol: rgb(31, 101, 253);
  --hover: #fc7819;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 50px;
}

h4 {
  font-size: 25px;
}

section,
footer {
  text-align: center;
  padding: 30px 50px;
}

a {
  text-decoration: none;
  color: #000;
}

i {
  color: var(---navcol);
}
